stages:
  - lint
  - test

.default-python:
  image: python:3.12
  before_script:
    - python -V
    - pip install --upgrade pip
    - pip install -e .

lint:pep8:
  stage: lint
  extends: .default-python
  before_script:
    - pip install --upgrade pip
    - pip install pycodestyle
  script:
    - |
      ROOT_PATH=""
      if [ -n "$ROOT_PATH" ] && [ ! -d "$ROOT_PATH" ]; then
          echo "Directory $ROOT_PATH does not exist. Exiting."
          exit 0
      fi
      # 檢查程式碼是否符合 PEP8 規範，忽略 E501 (line too long) 規則
      echo "== PEP8 style check =="
      PEP8_ERROR_COUNT_CMD="pycodestyle --ignore=W293,W291,W503,W605,E501  ./$ROOT_PATH"
      # 取得 PEP8 錯誤數量
      PEP8_ERROR_COUNT=$($PEP8_ERROR_COUNT_CMD | wc -l)
      # 根據錯誤數量決定是否通過檢查
      if [ "$PEP8_ERROR_COUNT" -eq 0 ]; then
          echo "PEP8 passed, no linting errors found."
      else
          $PEP8_ERROR_COUNT_CMD
          echo "==============================="
          echo "PEP8 failed with $PEP8_ERROR_COUNT errors."
      fi
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH =~ /^(main|develop)$/

test:unittest:
  stage: test
  extends: .default-python
  script:
    - echo "== Running unit tests =="
    - python -m unittest discover -s tests
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH =~ /^(main|develop)$/
