name: CI

on:
  workflow_dispatch:
    inputs:
      job:
        description: "Which job to run"
        required: false
        default: "all"
        type: choice
        options:
          - all
          - lint
          - test

  pull_request:
  push:
    branches:
      - main
      - develop

jobs:
  lint-pep8:
    if: ${{ github.event.inputs.job == 'all'
         || github.event.inputs.job == 'lint'
         || github.event.inputs.job == '' }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Display Python version
        run: python -V

      - name: Install lint dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pycodestyle

      - name: PEP8 style check
        run: |
          ROOT_PATH=""
          if [ -n "$ROOT_PATH" ] && [ ! -d "$ROOT_PATH" ]; then
              echo "Directory $ROOT_PATH does not exist. Exiting."
              exit 0
          fi

          echo "== PEP8 style check =="
          pycodestyle --ignore=W293,W291,W503,W605,E501 ./$ROOT_PATH

  test-unittest:
    if: ${{ github.event.inputs.job == 'all'
         || github.event.inputs.job == 'test'
         || github.event.inputs.job == '' }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Display Python version
        run: python -V

      - name: Install project dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e .

      - name: Run unit tests
        run: |
          echo "== Running unit tests =="
          python -m unittest discover -s tests
